name: Add issues to project

on:
  issues:
    types:
      - opened
      - transferred

jobs:
  add-to-project:
    name: Add issue to project
    runs-on: ubuntu-20.04
    steps:
      - name: Add issue
        uses: actions/add-to-project@v0.0.3
        with:
          project-url: https://github.com/users/bewuethr/projects/1
          github-token: ${{ secrets.ADD_TO_PROJECT_PAT }}
