name: Move release tags

on:
  push:
    tags:
      - v[0-9]+.[0-9]+.[0-9]+

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  update-release-tags:
    name: Update release tags
    uses: bewuethr/workflows/.github/workflows/releasetracker.yml@main
